In [43]:
import pandas as pd

In [44]:
# Load the CSV file
#data = pd.read_csv("data/o_file_author.csv", sep=';')

In [45]:
print(data.info())
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3787798 entries, 0 to 3787797
Data columns (total 2 columns):
 #   Column         Dtype
---  ------         -----
 0   :ID            int64
 1   author:string  object
dtypes: int64(1), object(1)
memory usage: 57.8+ MB
None
                :ID
count  3.787798e+06
mean   1.323168e+07
std    1.093443e+06
min    1.133778e+07
25%    1.228473e+07
50%    1.323168e+07
75%    1.417863e+07
max    1.512558e+07

In [46]:
# Display the first 10 rows
print(data.head(10))

        :ID           author:string
0  11337779         Arnon Rosenthal
1  11337780             Robin Cover
2  11337781            Alin Deutsch
3  11337782       Mary F. Fernandez
4  11337783        Daniela Florescu
5  11337784            Alon Y. Levy
6  11337785               Dan Suciu
7  11337786         Roy T. Fielding
8  11337787  Henrik Frystyk Nielsen
9  11337788         Tim Berners-Lee

In [33]:
# Get the list of columns
column_names = data.columns
# Display the column names
print(data.columns)

Index([':ID', 'author:string'], dtype='object')

In [34]:
print(data.isnull().sum())

:ID              0
author:string    0
dtype: int64

In [35]:
data.dropna(axis=0, inplace=True)  # Drop rows
# OR
data.dropna(axis=1, inplace=True)  # Drop columns

data.drop_duplicates(inplace=True) #Remove duplications

In [36]:
data.rename(columns={':ID': 'ID'}, inplace=True)

In [37]:
data.rename(columns={'author:string': 'author'}, inplace=True)

In [39]:
# Get the list of columns
column_names = data.columns
# Display the column names
print(data.columns)

Index(['ID', 'author'], dtype='object')

In [40]:
# Display the first 10 rows
print(data.head(10))

         ID                  author
0  11337779         Arnon Rosenthal
1  11337780             Robin Cover
2  11337781            Alin Deutsch
3  11337782       Mary F. Fernandez
4  11337783        Daniela Florescu
5  11337784            Alon Y. Levy
6  11337785               Dan Suciu
7  11337786         Roy T. Fielding
8  11337787  Henrik Frystyk Nielsen
9  11337788         Tim Berners-Lee

In [41]:
# Remove digits from the 'author' column using a regular expression
data['author'] = data['author'].str.replace(r'\d+', '', regex=True).str.strip()

In [42]:
data.to_csv("authors_list.csv", index=False)