In [225]:
import pandas as pd

In [226]:
# Define the data types for each column
dtype_dict = {
    'id': 'int64',
    'author': 'string',
    'author-bibtex': 'string',
    'author-orcid': 'string',
    'booktitle': 'string',  # Use string for text data
    'cdrom': 'string',
    'cite': 'string',
    'cite-label': 'string',
    'crossref': 'string',
    'editor': 'string',
    'editor-orcid': 'string',
    'ee': 'string',
    'ee-type': 'string',
    'i': 'string',
    'isbn': 'string',  # ISBNs can have non-numeric characters
    'isbn-type': 'string',
    'journal': 'string',
    'key': 'string',
    'mdate': 'string',
    'month': 'string',
    'note': 'string',
    'note-type': 'string',
    'pages': 'string',  # Pages may have ranges like "12-34"
    'publisher': 'string',
    'publisher-href': 'string',
    'publtype': 'string',
    'school': 'string',
    'series': 'string',
    'series-href': 'string',
    'sub': 'string',
    'sup': 'string',
    'title': 'string',
    'url': 'string',
    'volume': 'string',
    'year': 'string',
}

In [227]:
# Read the CSV file
data = pd.read_csv(
    "data/o_file_book.csv",
    sep=';',          # Specify the delimiter
    dtype=dtype_dict
)

In [228]:
# Check the first few rows
print(data.head())

     id author author-bibtex author-orcid  \
0  1151   <NA>          <NA>         <NA>
1  1299   <NA>          <NA>         <NA>
2  2648   <NA>          <NA>         <NA>
3  2727   <NA>          <NA>         <NA>
4  2948   <NA>          <NA>         <NA>

                                           booktitle cdrom  cite cite-label  \
0  Encyclopedia of Social Network Analysis and Mi...  <NA>  <NA>       <NA>
1                                               <NA>  <NA>  <NA>       <NA>
2              Handbook of Signal Processing Systems  <NA>  <NA>       <NA>
3            Encyclopedia of Artificial Intelligence  <NA>  <NA>       <NA>
4                                               <NA>  <NA>  <NA>       <NA>

  crossref                                             editor  ... publtype  \
0     <NA>                           Jon G. Rokne|Reda Alhajj  ...     <NA>
1     <NA>                           Jon G. Rokne|Reda Alhajj  ...     <NA>
2     <NA>  Ed F. Deprettere|Jarmo Takala|Rainer Leupers|S...  ...     <NA>
3     <NA>      Alejandro Pazos|Juan R. Rabuñal|Julián Dorado  ...     <NA>
4     <NA>                   Jacob E. Goodman|Joseph O'Rourke  ...     <NA>

  school series series-href   sub   sup  \
0   <NA>   <NA>        <NA>  <NA>  <NA>
1   <NA>   <NA>        <NA>  <NA>  <NA>
2   <NA>   <NA>        <NA>  <NA>  <NA>
3   <NA>   <NA>        <NA>  <NA>  <NA>
4   <NA>   <NA>        <NA>  <NA>  <NA>

                                               title  \
0  Encyclopedia of Social Network Analysis and Mi...
1  Encyclopedia of Social Network Analysis and Mi...
2              Handbook of Signal Processing Systems
3  Encyclopedia of Artificial Intelligence (3 Vol...
4  Handbook of Discrete and Computational Geometr...

                               url volume  year
0  db/reference/snam/snam2014.html   <NA>  2014
1  db/reference/snam/snam2018.html   <NA>  2018
2    db/reference/sps/sps2013.html   <NA>  2013
3      db/reference/ai/ai2009.html   <NA>  2009
4     db/reference/cg/dcg2004.html   <NA>  2004

[5 rows x 35 columns]

In [229]:
print(data.info())
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20907 entries, 0 to 20906
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              20907 non-null  int64
 1   author          18383 non-null  string
 2   author-bibtex   1 non-null      string
 3   author-orcid    1677 non-null   string
 4   booktitle       1794 non-null   string
 5   cdrom           1 non-null      string
 6   cite            10 non-null     string
 7   cite-label      9 non-null      string
 8   crossref        71 non-null     string
 9   editor          2408 non-null   string
 10  editor-orcid    673 non-null    string
 11  ee              14181 non-null  string
 12  ee-type         1103 non-null   string
 13  i               2 non-null      string
 14  isbn            18535 non-null  string
 15  isbn-type       22 non-null     string
 16  journal         1 non-null      string
 17  key             20907 non-null  string
 18  mdate           20907 non-null  string
 19  month           1 non-null      string
 20  note            68 non-null     string
 21  note-type       62 non-null     string
 22  pages           14348 non-null  string
 23  publisher       18907 non-null  string
 24  publisher-href  88 non-null     string
 25  publtype        1907 non-null   string
 26  school          2343 non-null   string
 27  series          9084 non-null   string
 28  series-href     5605 non-null   string
 29  sub             3 non-null      string
 30  sup             21 non-null     string
 31  title           20906 non-null  string
 32  url             2531 non-null   string
 33  volume          4340 non-null   string
 34  year            20907 non-null  string
dtypes: int64(1), string(34)
memory usage: 5.6 MB
None
                 id
count  2.090700e+04
mean   2.601987e+06
std    4.699994e+06
min    1.151000e+03
25%    5.336750e+04
50%    6.217300e+04
75%    6.802850e+04
max    1.132772e+07

In [230]:
print(data.isnull().sum())

id                    0
author             2524
author-bibtex     20906
author-orcid      19230
booktitle         19113
cdrom             20906
cite              20897
cite-label        20898
crossref          20836
editor            18499
editor-orcid      20234
ee                 6726
ee-type           19804
i                 20905
isbn               2372
isbn-type         20885
journal           20906
key                   0
mdate                 0
month             20906
note              20839
note-type         20845
pages              6559
publisher          2000
publisher-href    20819
publtype          19000
school            18564
series            11823
series-href       15302
sub               20904
sup               20886
title                 1
url               18376
volume            16567
year                  0
dtype: int64

In [231]:
data.dropna(axis=0, how='all', inplace=True) # Drop rows

In [232]:
data.dropna(axis=1, how='all', inplace=True)  # Drop columns

In [233]:
data.drop_duplicates(inplace=True) #Remove duplications

In [234]:
# Get the list of columns
column_names = data.columns
# Display the column names
print(data.columns)

Index(['id', 'author', 'author-bibtex', 'author-orcid', 'booktitle', 'cdrom',
       'cite', 'cite-label', 'crossref', 'editor', 'editor-orcid', 'ee',
       'ee-type', 'i', 'isbn', 'isbn-type', 'journal', 'key', 'mdate', 'month',
       'note', 'note-type', 'pages', 'publisher', 'publisher-href', 'publtype',
       'school', 'series', 'series-href', 'sub', 'sup', 'title', 'url',
       'volume', 'year'],
      dtype='object')

In [235]:
print(data.info())
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20907 entries, 0 to 20906
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              20907 non-null  int64
 1   author          18383 non-null  string
 2   author-bibtex   1 non-null      string
 3   author-orcid    1677 non-null   string
 4   booktitle       1794 non-null   string
 5   cdrom           1 non-null      string
 6   cite            10 non-null     string
 7   cite-label      9 non-null      string
 8   crossref        71 non-null     string
 9   editor          2408 non-null   string
 10  editor-orcid    673 non-null    string
 11  ee              14181 non-null  string
 12  ee-type         1103 non-null   string
 13  i               2 non-null      string
 14  isbn            18535 non-null  string
 15  isbn-type       22 non-null     string
 16  journal         1 non-null      string
 17  key             20907 non-null  string
 18  mdate           20907 non-null  string
 19  month           1 non-null      string
 20  note            68 non-null     string
 21  note-type       62 non-null     string
 22  pages           14348 non-null  string
 23  publisher       18907 non-null  string
 24  publisher-href  88 non-null     string
 25  publtype        1907 non-null   string
 26  school          2343 non-null   string
 27  series          9084 non-null   string
 28  series-href     5605 non-null   string
 29  sub             3 non-null      string
 30  sup             21 non-null     string
 31  title           20906 non-null  string
 32  url             2531 non-null   string
 33  volume          4340 non-null   string
 34  year            20907 non-null  string
dtypes: int64(1), string(34)
memory usage: 5.6 MB
None
                 id
count  2.090700e+04
mean   2.601987e+06
std    4.699994e+06
min    1.151000e+03
25%    5.336750e+04
50%    6.217300e+04
75%    6.802850e+04
max    1.132772e+07

In [236]:
# List of columns to delete
columns_to_delete = ['author-bibtex', 'author-orcid', 'booktitle','cdrom','cite','cite-label','crossref','editor-orcid','ee-type','i','isbn-type','mdate',
                    'month','note','note-type','pages','publisher-href','series-href','sub','sup',
                    'volume']

In [237]:
# Drop the specified columns
data.drop(columns=columns_to_delete, inplace=True)

In [238]:
data.columns

Index(['id', 'author', 'editor', 'ee', 'isbn', 'journal', 'key', 'publisher',
       'publtype', 'school', 'series', 'title', 'url', 'year'],
      dtype='object')

In [239]:
data.rename(columns={'ee': 'external_link'}, inplace=True)

In [240]:
data.rename(columns={'author': 'authors'}, inplace=True)

In [241]:
data.columns

Index(['id', 'authors', 'editor', 'external_link', 'isbn', 'journal', 'key',
       'publisher', 'publtype', 'school', 'series', 'title', 'url', 'year'],
      dtype='object')

In [242]:
# Fill missing authors with editors
data['authors'] = data.apply(
    lambda row: row['editor'] if pd.isna(row['authors']) or row['authors'] == '' else row['authors'],
    axis=1
)

In [243]:
# Drop the 'editor' column since it contains same information as author
data.drop(columns='editor', inplace=True)

In [244]:
data.columns

Index(['id', 'authors', 'external_link', 'isbn', 'journal', 'key', 'publisher',
       'publtype', 'school', 'series', 'title', 'url', 'year'],
      dtype='object')

In [245]:
# Split the authors into a list
data['author_list'] = data['authors'].str.split('|')

In [246]:
# Explode the list into multiple rows
data_long = data.explode('author_list', ignore_index=True)

In [247]:
# Rename the column for clarity
data_long.rename(columns={'author_list': 'author'}, inplace=True)

In [248]:
data.columns

Index(['id', 'authors', 'external_link', 'isbn', 'journal', 'key', 'publisher',
       'publtype', 'school', 'series', 'title', 'url', 'year', 'author_list'],
      dtype='object')

In [249]:
row_count = data_long.shape[0]
print(f"Number of rows: {row_count}")

Number of rows: 37538

In [250]:
data_long.drop_duplicates(inplace=True) #Remove duplications

In [251]:
# Remove digits from the 'author' column using a regular expression
data_long['author'] = data_long['author'].str.replace(r'\d+', '', regex=True).str.strip()

In [252]:
# Display the first 10 rows
print(data_long.head(10))

     id                                            authors  \
0  1151                           Jon G. Rokne|Reda Alhajj
1  1151                           Jon G. Rokne|Reda Alhajj
2  1299                           Jon G. Rokne|Reda Alhajj
3  1299                           Jon G. Rokne|Reda Alhajj
4  2648  Ed F. Deprettere|Jarmo Takala|Rainer Leupers|S...
5  2648  Ed F. Deprettere|Jarmo Takala|Rainer Leupers|S...
6  2648  Ed F. Deprettere|Jarmo Takala|Rainer Leupers|S...
7  2648  Ed F. Deprettere|Jarmo Takala|Rainer Leupers|S...
8  2727      Alejandro Pazos|Juan R. Rabuñal|Julián Dorado
9  2727      Alejandro Pazos|Juan R. Rabuñal|Julián Dorado

                                       external_link  \
0          https://doi.org/10.1007/978-1-4614-6170-8
1          https://doi.org/10.1007/978-1-4614-6170-8
2  https://doi.org/10.1007/978-1-4614-6170-8|http...
3  https://doi.org/10.1007/978-1-4614-6170-8|http...
4          https://doi.org/10.1007/978-1-4614-6859-2
5          https://doi.org/10.1007/978-1-4614-6859-2
6          https://doi.org/10.1007/978-1-4614-6859-2
7          https://doi.org/10.1007/978-1-4614-6859-2
8          https://doi.org/10.4018/978-1-59904-849-9
9          https://doi.org/10.4018/978-1-59904-849-9

                                  isbn journal                  key  \
0  978-1-4614-6169-2|978-1-4614-6170-8    <NA>  reference/snam/2014
1  978-1-4614-6169-2|978-1-4614-6170-8    <NA>  reference/snam/2014
2                                 <NA>    <NA>  reference/snam/2018
3                                 <NA>    <NA>  reference/snam/2018
4  978-1-4614-6858-5|978-1-4614-6859-2    <NA>   reference/sps/2013
5  978-1-4614-6858-5|978-1-4614-6859-2    <NA>   reference/sps/2013
6  978-1-4614-6858-5|978-1-4614-6859-2    <NA>   reference/sps/2013
7  978-1-4614-6858-5|978-1-4614-6859-2    <NA>   reference/sps/2013
8                        9781599048499    <NA>    reference/ai/2009
9                        9781599048499    <NA>    reference/ai/2009

    publisher publtype school series  \
0    Springer     <NA>   <NA>   <NA>
1    Springer     <NA>   <NA>   <NA>
2    Springer     <NA>   <NA>   <NA>
3    Springer     <NA>   <NA>   <NA>
4    Springer     <NA>   <NA>   <NA>
5    Springer     <NA>   <NA>   <NA>
6    Springer     <NA>   <NA>   <NA>
7    Springer     <NA>   <NA>   <NA>
8  IGI Global     <NA>   <NA>   <NA>
9  IGI Global     <NA>   <NA>   <NA>

                                               title  \
0  Encyclopedia of Social Network Analysis and Mi...
1  Encyclopedia of Social Network Analysis and Mi...
2  Encyclopedia of Social Network Analysis and Mi...
3  Encyclopedia of Social Network Analysis and Mi...
4              Handbook of Signal Processing Systems
5              Handbook of Signal Processing Systems
6              Handbook of Signal Processing Systems
7              Handbook of Signal Processing Systems
8  Encyclopedia of Artificial Intelligence (3 Vol...
9  Encyclopedia of Artificial Intelligence (3 Vol...

                               url  year                   author
0  db/reference/snam/snam2014.html  2014             Jon G. Rokne
1  db/reference/snam/snam2014.html  2014              Reda Alhajj
2  db/reference/snam/snam2018.html  2018             Jon G. Rokne
3  db/reference/snam/snam2018.html  2018              Reda Alhajj
4    db/reference/sps/sps2013.html  2013         Ed F. Deprettere
5    db/reference/sps/sps2013.html  2013             Jarmo Takala
6    db/reference/sps/sps2013.html  2013           Rainer Leupers
7    db/reference/sps/sps2013.html  2013  Shuvra S. Bhattacharyya
8      db/reference/ai/ai2009.html  2009          Alejandro Pazos
9      db/reference/ai/ai2009.html  2009          Juan R. Rabuñal

In [254]:
data_long.to_csv("cleaned_books.csv", index=False)

In [255]:
# Create a new DataFrame with only "author" and "school" columns
data_author_school = data_long[['author', 'school']]

In [256]:
data_author_school.head()

             author school
0      Jon G. Rokne   <NA>
1       Reda Alhajj   <NA>
2      Jon G. Rokne   <NA>
3       Reda Alhajj   <NA>
4  Ed F. Deprettere   <NA>

In [257]:
# Remove rows where the 'school' column is empty or NaN
data_author_school = data_author_school[data_author_school['school'].notna()]

In [263]:
data_author_school

,author,school
1210,Dirk Müller,"TU Chemnitz, Germany"
1493,Bernhard J. Frommherz,"Karlsruhe Institute of Technology, Germany"
1598,Changsheng Hua,"University of Duisburg-Essen, Germany"
1614,Helmut Petritsch,University of Regensburg
1615,Klaus Küspert,"Kaiserslautern University of Technology, Germany"
...,...,...
37503,Mayank Kejriwal,"University of Texas at Austin, United States o..."
37506,Jens Lehmann,University of Leipzig
37508,Michalis Mountantonakis,"University of Crete, Rethymnon, Greece"
37520,Boris Villazón-Terrazas,Technical University of Madrid
37523,Daniel Dominik Janke,"University of Koblenz and Landau, Germany"

In [262]:
data_author_school.drop_duplicates(inplace=True) #Remove duplications

In [264]:
data_author_school.to_csv("book_author_school_list.csv", index=False)